---

import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Content
id="about"
columns={2}
items={[
  {
    icon: 'tabler:brand-linkedin',
    callToAction: {
      target: '_blank',
      text: 'Dribbble',
      href: '#',
    },
  },
  {
    icon: 'tabler:brand-github',
    callToAction: {
      target: '_blank',
      text: 'Behance',
      href: '#',
    },
  },
]}
image={{
  src: 'https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
  alt: 'Colorful Image',
}}
>
<Fragment slot="content">
  <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h3>
  <p>
    Welcome to my creative journey. My work is a testament to my commitment to bringing ideas to life, where each
    pixel becomes a brushstroke in the canvas of imagination.
  </p>
  <br />
  <p>
    I find inspiration in the world around me, whether through the pages of a captivating novel, the intricate
    details of typography, or the vibrant hues of nature during my outdoor escapades.
  </p>
  <br />
  <p>If you're curious to dive deeper into my work, you can follow me:</p>
</Fragment>

<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Content>

</Layout>
