<article class="card post mb-4">
  <div class="row">
    <div class="col-auto">
      <div class="post-image">
        <a href="{{.Permalink}}">
          <img loading="lazy" class="img-fluid" src="{{ .Params.image_webp | absURL }}"
            onerror="this.onerror=null;this.src='{{ .Params.image | absURL }}'" alt="{{.Title}}">
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card-block px-2">
        <h2 class="mb-2"><a class="post-title" href="{{.Permalink}}">{{.Title}}</a></h2>
        <div class="post-meta">
          <span class="post-date">{{.PublishDate.Format "02 Jan, 2006"}}</span>
        </div>
        <p class="card-text mb-4 text-left mt-2">{{ .Summary }}...</p>
      </div>
    </div>
  </div>
</article>